<div class="row">
  <div class="col">
    <div class="row">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <%= render 'shared/comments', comment: comment %>
        <% end %>
      <% end %>
    </div>
    <div class="row comment_posted position-fixed" style="bottom: 0;">
      <div class="col-1">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: 'profile_picture' %>
        <% else %>
          <%= image_tag 'taehyun.jpg', class: 'profile_picture' %>
        <% end %>
      </div>
      <%= render 'form_comment'  %>
    </div>
  </div>
</div>