
<div class="card">
  <% @media_categories.each do |media_category| %>
  <div class="col row my-3 align-self-center">
  <div class="col">
    <h5><%= media_category.name %></h5>
    <% if media_category.media_videos %>
      <div class="col row">
        <div class="owl-carousel media_carousel">
          <% media_category.media_videos.each do |video| %>
            <%= link_to  group_media_watch_medias_path(video.group_id, video) do %>
              <div class="item d-flex flex-column" >
                <%= image_tag video.thumbnail_url, class: "img-thumbnail" %>
                <span class="text-center" ><%= video.title %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <% end %>
</div>
