<div id="like-form_<%= post.id %>">
  <% if user_signed_in? && current_user.likes?(post) %>
    <%= render 'shared/likes/unlike', post: post %>
  <% else %>
    <%= render 'shared/likes/like', post: post %>
  <% end %>
  
  <% if post.likes.any? %>
    <%= post.likes.size %> <span>Cheers</span>
  <% else %>
    <span>Cheers First</span>
  <% end %>
</div>