<div id="like-form_<%= likeable.id %>">
  <% if user_signed_in? && current_user.likes?(likeable) %>
    <%= render 'shared/likes/unlike', likeable: likeable %>
  <% else %>
    <%= render 'shared/likes/like', likeable: likeable %>
  <% end %>

  <% if likeable.likes.any? %>
    <%= likeable.likes.size %> <span>Cheers</span>
  <% else %>
    <span>Cheers First</span>
  <% end %>
</div>