<%= render 'shared/modal' %>

<%= render 'layouts/navbar' %>

<div class="row row_content">
  <div class="col row d-flex flex-row">
    <table class="table table-striped">
      <tr>
        <th>Group</th>
        <th>Action</th>
      </tr>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td>
            <%= link_to  "Edit", group_path(group) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>