<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Moments</h5>
    <div class="row">
      <div class="col-3 moment_index">
        <%= image_tag 'taehyun.jpg', class: "img-moment" %>
      </div>
      <div class="col-3 moment_index">
        <%= image_tag 'taehyun.jpg', class: "img-moment" %>
      </div>
      <div class="col-3 moment_index">
        <%= image_tag 'taehyun.jpg', class: "img-moment" %>
      </div>
      <div class="col-3 moment_index">
        <%= image_tag 'taehyun.jpg', class: "img-moment" %>
      </div>
    </div>
  </div>
</div>
