<div class="row comment_posted">
  <div class="col-2">
    <%= image_tag 'taehyun.jpg', class: 'profile_picture' %>
  </div>
  <div class="col-10">
    <div class="row input-group mb-3 comment_box">
      <input type="text" class="form-control input_comment" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary comment_button" type="button" id="button-addon2">Send</button>
      </div>
    </div>
  </div>
</div>