<div class="card mt-4 post-user">
  <div class="card-body">
    <h5 class="card-title">Moments</h5>
    <div class="row">
      <div class="col-2">
        <%= image_tag 'taehyun.jpg', class: 'profile_picture' %>
      </div>
      <div class="col-7">
        <ul class="user">
          <li class="username">Username</li>
          <li class="date_post">Tanggal</li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="menu">
          <li><i class="fas fa-language"></i></li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
      </div>
    </div>
    <div class="row posted">
      <div class="col"></div>
    </div>
    <div class="row cheers">
      <div class="col">
        <ul class="cheers py-2">
          <li class="mr-4">
            <i class="fas fa-heart"></i> <span>Cheers</span>
          </li>
          <li class="mr-4">
            <i class="far fa-comment"></i> <span>Comments</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
</div>
