 <%= 2.times do %>
  <div class="card mt-4 post-user">
    <div class="card-body">
      <h5 class="card-title">Moments</h5>
      <div class="row">
        <div class="col-2">
          <%= image_tag 'taehyun.jpg', class: 'profile_picture' %>
        </div>
        <div class="col-7">
          <ul class="user">
            <li class="username"></li>
            <li class="date_post"></li>
            <li class="mt-3">
              <p>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="menu">
            <li><i class="fas fa-language"></i></li>
            <li><i class="fas fa-ellipsis-v"></i></li>
          </ul>
        </div>
      </div>
      <div class="row posted">
        <div class="col"></div>
      </div>
      <div class="row cheers">
        <div class="col">
          <ul class="cheers py-2">
            <li class="mr-4">
              <i class="fas fa-heart"></i> <span>Cheers</span>
            </li>
            <li class="mr-4">
              <i class="far fa-comment"></i> <span>Comments</span>
            </li>
          </ul>
        </div>
      </div>
      <div
            </div>
          </div>
          </div>
          <%# <%= render 'shared/new_comment',  post: post  %>
        </div>
      </div>
    </div>
  </div>
  
  <% end %>
  