textarea {
  &:focus {
    outline: none;
  }
}

.card {
  .card_post_wrapper {
    border-bottom: solid .5px #EBEBEB;
    padding-bottom: 1em;

    img.profile_picture {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .input_post {
    width: 100%;
  }

  textarea {
    border: none;
    height: 3em;

    &:focus {
      outline: none;
    }
  }

  .btn-submit-post {
    border-radius: 50em;
    background-color: #0BE4BF;
    border: none;
  }

  .icon-wv {
    color: #0BE4BF;
    height: 1.5em;
  }
}

.left-sidebar {
  ul {
    list-style: none;
    padding: 0;
    font-size: 1.3em;
  }
}

.moment_index {
  .img-moment {
    width: 100%;
    border-radius: 5px;
  }

}

.post-user {
  ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #BDC0C5;
  }

  img.profile_picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  ul.user {
    list-style: none;
    padding: 0;

    li.username {
      font-size: 15px;
    }

    li.date_post {
      font-size: 13px;
      color: #BDC0C5;
    }
  }

  ul.cheers {
    list-style: none;
    display: flex;
    padding: 0;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    color: #ADB1B8;
  }

  img.profile_picture_moment {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.comment_posted {
  ul.comment {
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 12px;
  }

  .comment_box {
    background-color: #F5F7FA;
    border-radius: 10px;
  }

  img.profile_picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .input_comment {
    background-color: #F5F7FA;
    border: none;
  }

  .comment_button {
    color: #0BE4BF;
    border: none;
  }
}

.lni-heart-filled {
  color: pink;
}

.fa-heart {
  color: #ADB1B8;

  &.heart-filled {
    color: #0BE4BF;
  }
}

.heart-filled {
  color: #0BE4BF;
}

.btn-menu-post {
  background: none;
  border: none;
  color: #BDC0C5;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.verif_icon {
  width: 15px;
  padding-bottom: 5px;
}

.username_display {
  font-weight: bold;
  font-size: 18px;
}

