<div class="col-lg-3 col-md-3 col-sm-12 pl-5 left-sidebar">
  <h3 class="font-weight-bold">TOMORROW X TOGETHER</h3 >
  <p>3juta Wevers</p>
  <div class="row">
    <div class="col">
      foto
      <img src="" alt="">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <ul>
        <li class="mb-3">
          <%= link_to  "Feed", group_user_feed_users_path(1, current_user.id) %>
        Feed</li>
        <li class="mb-3">Artist</li>
        <li class="mb-3">Media</li>
        <li class="mb-3">Wevers Only</li>
      </ul>
    </div>
  </div>
</div>
