<div class="row bg-white">
  <div class="col bg-white toggle_sidebar h-100">
    <div id="accordion">
      <ul>
        <li>
          <div class="card border-0 bg-white card_toggle">
            <div class="card-header  bg-white border-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="headingOne">
              <span class="d-flex justify-content-between">
                <h6 class="mb-0">
                    Joined Group
                </h6>
                <i class="fas fa-angle-down align-self-center"></i>
              </span>

            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="">
                <ul class="pl-4">
                  <% if @joined_groups %>
                      <% @joined_groups.each do |group| %>
                        <%= link_to group_posts_path(group) do %>
                          <li class="py-2 my-1 submenu_toggle"><%= group.name %></li>
                        <% end %>
                      <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card border-0 bg-white card_toggle">
            <div class="card-header  bg-white border-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
              <span class="d-flex justify-content-between">
                <h6 class="mb-0">
                    Other Group
                </h6>
                <i class="fas fa-angle-down align-self-center"></i>
              </span>

            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="">
                <ul class="pl-4">
                  <% if @other_groups %>
                      <% @other_groups.each do |group| %>
                        <%= link_to new_group_join_group_path(group) do %>
                          <li class="py-2 my-1 submenu_toggle"><%= group.name %></li>
                        <% end %>
                      <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card border-0 bg-white card_toggle">
            <div class="card-header  bg-white border-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne" id="">
              <span class="d-flex justify-content-between">
                <h6 class="mb-0">
                    Weverse Magazine
                </h6>
              </span>

            </div>
        </li>
      </ul>
    </div>
  </div>
</div>