<div class="row">
  <div class="col toggle_sidebar h-100">
    <div id="accordion">
      <ul>
        <li>
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="headingOne">
              <h6 class="mb-0">
                  Joined Group
              </h6>

            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>